<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PatronReplicationDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PatronReplicationDemo.Properties.Settings>
            <setting name="Cfgs_serverPort" serializeAs="String">
                <value>8899</value>
            </setting>
            <setting name="Cfgs_serverProtocol" serializeAs="String">
                <value>http</value>
            </setting>
        </PatronReplicationDemo.Properties.Settings>
    </userSettings>
</configuration>